body {
	height: 100vh;
}

.top-section {
	height: 10%;
	padding: 1%;
}

.main-section {
	height: 80%;
}

#map-canvas {
	width: 100%;
	height: 90%;
	border: 1px solid;
    border-color: gray;
}

footer {
	padding: 1%;
	height: 10%;
}

.controls {
	height: 10%;
	margin: 10px;
}

.controls button {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}